APP_ENV=

# Kafka
KAFKA_HOST=
KAFKA_NAMESPACE=
KAFKA_PROTOCOL_ENTRIES_TOPIC=
KAFKA_PROTOCOL_UNDO_ENTRIES_TOPIC=
KAFKA_DISPATCHER_GROUP=
KAFKA_JOB_IMAGE=
KAFKA_USER=
KAFKA_PASSWORD=

# Mongo
DB_MONGO_HOST=
DB_MONGO_DATABASE=
DB_MONGO_PORT=
DB_MONGO_OPTION_DATABASE=
DB_MONGO_USERNAME=
DB_MONGO_PASSWORD=

# MySQL
DB_CONNECTION=
DB_HOST=
DB_HOST_SLAVE=
DB_HOST_READ=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=